p#pogrubienie_łybacki {
font-size: 32px, color: #8F5CD4
    font-weight: bold;
}

p#pochylona_łybacki {
font-size: 37pt, color: #F3C070
    font-style: italic;
}

p#index_gorny_łybacki {
font-size: 1.2cm, color: #A38E20
    vertical-align: super;
}

p#index_dolny_łybacki {
font-size: 1.9cm, color: rgb(25%, 95%, 91%)
    vertical-align: sub;
}

p#mono_łybacki {
font-size: 42px, color: #23DE70
    font-family: monospace;
}

p#powiekszenie_łybacki {
    font-size: larger;
    color: #5D3EA2
}

p#pomniejszenie_łybacki {
    font-size: smaller;
    color: rgb(76%, 64%, 24%)
}
